{% extends 'base.html' %}

{% block title %}About{% endblock %}

{% block content %}

<div class="container my-4">
    <h3>Basic Utilization</h3>
        <li> Single Source for up to date schedule information for the group and individuals</li>
        <li> Weekly text reminders sent to scheduled players the Tuesday before their Tee Time</li>
        <li> Ability to request a trade (Swap) for a Tee Time you are no longer available for</li>
        <li> Or to give away a Tee Time you cannot make to anyone who wants it (Sub)</li>
        <li> General group information - player contact info + data on usage & scheduling</li>
</div>
<div class="container my-4">
    <h3>Specific Functionality</h3>
        <li> <strong>Tee Sheet</strong> - The next set of Tee Times + Future Schedule</li>
        <li> <strong>Schedule</strong> - Your full schedule by default + everyone's schedule via dropdown</li>
        <li> <strong>Sub / Swap</strong> - Request Subs or Swaps for your Tee Times as well as accept offers by other players</li>
        <li> <strong>Players</strong> - List of everyone in the group with Cell & Email</li>
        <li> <strong>Data</strong> - Player, Course, & Date Distribution + an Activity Feed</li>
        <li> <strong><italics> Your Name </italics></strong> (Upper Right Hand Corner^^) - Clickable, Your Information + ability to change password</li>
</div>
<br>

<div class="container my-4">
    <h3>Any Questions / Comments / Suggestions, please text Chris Prouty at 312-296-1817</h3>
</div>

{% endblock %}