{% extends 'base.html' %}

{% block title %}Players{% endblock %}

{% block content %}
<h1 class="mb-4">Players</h1>

<!-- Players Table -->
<table class="table table-striped">
    <thead>
        <tr>
            <th>Name</th>
            <th>Mobile</th>
            <th>Email</th>
            <th>Index</th>
            <th>Played</th>
            <th>Scheduled</th>
        </tr>
    </thead>
    <tbody>
        {% for player in players_data %}
            <tr>
                <td>{{ player.first_name }} {{ player.last_name }}</td>
                <td>{{ player.mobile|slice:"1:4" }}-{{ player.mobile|slice:"4:7" }}-{{ player.mobile|slice:"7:11" }}</td>
                <td>{{ player.email }}</td>
                <td></td> <!-- Index column, no data for now -->
                <td>{{ player.rounds_played }}</td>
                <td>{{ player.rounds_scheduled }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}