{% extends 'base.html' %}

{% load custom_filters %}

{% block title %}Scorecard{% endblock %}

{% block content %}
<div class="container my-4">
    <h1>Scorecard - {{ course_name }} - {{ play_date }}</h1>

    <table class="table table-bordered">
        <thead>
            <tr>
                <td>Hole</td>
                {% for hole in course_holes %}
                <td>
                    <a href="{% url 'hole_score_data_view' %}?hole_id={{ hole.id }}&game_id={{ game_id }}&group_id={{ group_id }}" class="text-decoration-none">
                        {{ hole.HoleNumber }}
                    </a>
                </td>
                {% if hole.HoleNumber == 9 %}
                <td class="gray-column">Gross Out</td>
                <td class="gray-column">Net</td>
                {% endif %}
                {% if hole.HoleNumber == 18 %}
                <td class="gray-column">Gross In</td>
                <td class="gray-column">Net In</td> <!-- New Net In column -->
                {% endif %}
                {% endfor %}
                <td class="gray-column">Total</td>
                <td class="gray-column">Net</td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Par</td>
                {% for hole in course_holes %}
                <td>{{ hole.Par }}</td>
                {% if hole.HoleNumber == 9 %}
                <td class="gray-column"></td> <!-- Placeholder for "Out" total -->
                <td class="gray-column"></td> <!-- Placeholder for "Net9" total -->
                {% endif %}
                {% if hole.HoleNumber == 18 %}
                <td class="gray-column"></td> <!-- Placeholder for "In" total -->
                <td class="gray-column"></td> <!-- Placeholder for "Net In" total -->
                {% endif %}
                {% endfor %}
                <td class="gray-column"></td>
                <td class="gray-column"></td>
            </tr>
            <tr>
                <td>YDG</td>
                {% for hole in course_holes %}
                <td>{{ hole.Yardage }}</td>
                {% if hole.HoleNumber == 9 %}
                <td class="gray-column"></td> <!-- Placeholder for "Out" total -->
                <td class="gray-column"></td> <!-- Placeholder for "Net9" total -->
                {% endif %}
                {% if hole.HoleNumber == 18 %}
                <td class="gray-column"></td> <!-- Placeholder for "In" total -->
                <td class="gray-column"></td> <!-- Placeholder for "Net In" total -->
                {% endif %}
                {% endfor %}
                <td class="gray-column"></td>
                <td class="gray-column"></td>
            </tr>
            <tr>
                <td>HDCP</td>
                {% for hole in course_holes %}
                <td>{{ hole.Handicap }}</td>
                {% if hole.HoleNumber == 9 %}
                <td class="gray-column"></td> <!-- Placeholder for "Out" total -->
                <td class="gray-column"></td> <!-- Placeholder for "Net9" total -->
                {% endif %}
                {% if hole.HoleNumber == 18 %}
                <td class="gray-column"></td> <!-- Placeholder for "In" total -->
                <td class="gray-column"></td> <!-- Placeholder for "Net In" total -->
                {% endif %}
                {% endfor %}
                <td class="gray-column"></td>
                <td class="gray-column"></td>
            </tr>
            {% for player in player_list %}
            <tr>
                <td>{{ player.last_name }} - {{ player.net_hdcp }}</td>
                {% for hole in course_holes %}
                {% with player_scores|get_item:player.pid as player_hole_scores %}
                {% with player_hole_scores|get_item:hole.HoleNumber as net_score %}
                <td style="
                    {% if player_hole_scores|get_item:hole.HoleNumber == 1 %}background-color: #FFF8DC;{% elif player_hole_scores|get_item:hole.HoleNumber == 2 %}background-color: #D0F0C0;{% elif player_hole_scores|get_item:hole.HoleNumber == 3 %}background-color: #9ACD32;{% endif %}
                ">
                    {{ net_score|default:'' }}
                </td>
                {% endwith %}
                {% endwith %}
                {% if hole.HoleNumber == 9 %}
                <td class="gray-column">{{ player.raw_out }}
                <td class="gray-column">{{ player.net_out }}
                {% endif %}
                {% if hole.HoleNumber == 18 %}
                <td class="gray-column">{{ player.raw_in }}
                <td class="gray-column">{{ player.net_in }}
                {% endif %}
                {% endfor %}
                <td class="gray-column">{{ player.raw_total }}
                <td class="gray-column">{{ player.net_total }}
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <p>* NET scores are displayed</p>
</div>

<div class="col-lg-6 col-xxl-4 my-5 mx-auto">
    <div class="d-grid gap-2">
      <a href="{% url 'skins_leaderboard_view' %}?game_id={{ game_id }}" class="btn btn-primary" role="button">Leaderboard</a>
    </div>
</div>

<script>
document.getElementById('load-scorecard').addEventListener('click', function() {
    var select = document.getElementById('teetime-select');
    var selectedOption = select.options[select.selectedIndex];
    var playersData = JSON.parse(selectedOption.getAttribute('data-players'));

    console.log(playersData); // Debugging statement to check the parsed data

    document.getElementById('player1-name').innerText = playersData[0] ? playersData[0].PID__FirstName + ' ' + playersData[0].PID__LastName : 'Player 1';
    document.getElementById('player2-name').innerText = playersData[1] ? playersData[1].PID__FirstName + ' ' + playersData[1].PID__LastName : 'Player 2';
    document.getElementById('player3-name').innerText = playersData[2] ? playersData[2].PID__FirstName + ' ' + playersData[2].PID__LastName : 'Player 3';
    document.getElementById('player4-name').innerText = playersData[3] ? playersData[3].PID__FirstName + ' ' + playersData[3].PID__LastName : 'Player 4';
});
</script>

{% endblock %}