{% extends 'base.html' %}

{% load custom_filters %}

{% block title %}Scorecard{% endblock %}

{% block content %}
{% if msg %}
    <div class="alert alert-warning" role="alert">
        {{ msg }}
    </div>
{% endif %}

{% if gas_status %}
  <div class="alert alert-info py-1 my-3 text-center small">
    {{ gas_status }}
  </div>
{% endif %}

<div class="container my-4">
    <!-- Dynamic Heading -->
    <h1 id="scorecard-heading"></h1>
    <h3>{% if group_id %} {{ group_id }}am - {% endif %} {{ course_name }} - {{ play_date }}</h3>

    <table class="table table-bordered">
        <thead>
            <tr>
                <td>Hole</td>
                {% for hole in course_holes %}
                <td>
                    {% if group_id %}
                    <strong><a href="{% url 'hole_score_data_view' %}?hole_id={{ hole.id }}&game_id={{ game_id }}&group_id={{ group_id }}" class="text-decoration-none">
                        {{ hole.HoleNumber }}</strong>
                    </a>
                    {% else %}
                        {{ hole.HoleNumber }}
                    {% endif %}
                </td>
                {% if hole.HoleNumber == 9 %}
                <td>Out</td>
                {% endif %}
                {% if hole.HoleNumber == 18 %}
                <td>In</td>
                <td>Total</td>
                {% endif %}
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            <!-- Par Row -->
            <tr>
                <td>Par</td>
                {% for hole in course_holes %}
                <td>{{ hole.Par }}</td>
                {% if hole.HoleNumber == 9 %}
                <td class="gray-column"></td>
                {% endif %}
                {% if hole.HoleNumber == 18 %}
                <td class="gray-column"></td>
                <td class="gray-column"></td>
                {% endif %}
                {% endfor %}
            </tr>

            <!-- Yardage Row -->
            <tr>
                <td>YDG</td>
                {% for hole in course_holes %}
                <td>{{ hole.Yardage }}</td>
                {% if hole.HoleNumber == 9 %}
                <td class="gray-column"></td>
                {% endif %}
                {% if hole.HoleNumber == 18 %}
                <td class="gray-column"></td>
                <td class="gray-column"></td>
                {% endif %}
                {% endfor %}
            </tr>

            <!-- Handicap Row -->
            <tr>
                <td>HDCP</td>
                {% for hole in course_holes %}
                <td>{{ hole.Handicap }}</td>
                {% if hole.HoleNumber == 9 %}
                <td class="gray-column"></td>
                {% endif %}
                {% if hole.HoleNumber == 18 %}
                <td class="gray-column"></td>
                <td class="gray-column"></td>
                {% endif %}
                {% endfor %}
            </tr>

            <!-- Player Scores -->
            {% for player in player_list %}
            <tr>
                <td>{{ player.last_name }} - {{ player.net_hdcp }}</td>
                {% for hole in course_holes %}
                <td class="score-cell"
                    style="
                        {% with player_strokes|get_item:player.pid|get_item:hole.HoleNumber as strokes %}
                        {% if player_scores|get_item:player.pid|get_item:hole.HoleNumber|get_item:'skin' %}
                            background-color: #fcdc01; 
                        {% elif strokes == 1 %}
                            background-color: #e6e7e9;
                        {% elif strokes == 2 %}
                            background-color: #99cc99;
                        {% elif strokes >= 3 %}
                            background-color: #02824f;
                        {% endif %}
                        {% with pid=player.pid|stringformat:"s" holeid=hole.id|stringformat:"s" %}
                            {% with key=pid|add:":"|add:holeid %}
                                {% if key in forty_used_scores %}
                                    border: 4px solid #b22616;
                                {% endif %}
                            {% endwith %}
                        {% endwith %}
                        {% endwith %}
                    "
                    data-net="{{ player_scores|get_item:player.pid|get_item:hole.HoleNumber|get_item:'net'|default:'' }}"
                    data-raw="{{ player_scores|get_item:player.pid|get_item:hole.HoleNumber|get_item:'raw'|default:'' }}">
                    {% with pid=player.pid|stringformat:"s" holeid=hole.id|stringformat:"s" %}
                        {% with key=pid|add:":"|add:holeid %}
                            {% if key in forty_used_scores %}
                                <span class="score-value"><strong style="color: #000000;">
                                    {{ player_scores|get_item:player.pid|get_item:hole.HoleNumber|get_item:'raw'|default:'' }}
                                </strong></span>
                            {% else %}
                                <span class="score-value">
                                    {{ player_scores|get_item:player.pid|get_item:hole.HoleNumber|get_item:'raw'|default:'' }}
                                </span>
                            {% endif %}
                        {% endwith %}
                    {% endwith %}
                </td>
                {% if hole.HoleNumber == 9 %}
                <td class="score-cell"
                    data-net="{{ player_scores|get_item:player.pid|get_item:'Out'|get_item:'net'|default:'' }}"
                    data-raw="{{ player_scores|get_item:player.pid|get_item:'Out'|get_item:'raw'|default:'' }}">
                    <span class="score-value">
                        {{ player_scores|get_item:player.pid|get_item:'Out'|get_item:'raw'|default:'' }}
                    </span>
                </td>
                {% endif %}
                {% if hole.HoleNumber == 18 %}
                <td class="score-cell"
                    data-net="{{ player_scores|get_item:player.pid|get_item:'In'|get_item:'net'|default:'' }}"
                    data-raw="{{ player_scores|get_item:player.pid|get_item:'In'|get_item:'raw'|default:'' }}">
                    <span class="score-value">
                        {{ player_scores|get_item:player.pid|get_item:'In'|get_item:'raw'|default:'' }}
                    </span>
                </td>
                <td class="score-cell"
                    data-net="{{ player_scores|get_item:player.pid|get_item:'Total'|get_item:'net'|default:'' }}"
                    data-raw="{{ player_scores|get_item:player.pid|get_item:'Total'|get_item:'raw'|default:'' }}">
                    <span class="score-value">
                        {{ player_scores|get_item:player.pid|get_item:'Total'|get_item:'raw'|default:'' }}
                    </span>
                </td>
                {% endif %}
                {% endfor %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <!-- Toggle Button -->
    <div class="d-flex justify-content-between mb-3">
        <div class="d-grid gap-2">
            <button id="toggle-scores" class="btn btn-secondary">Gross Scores</button>
        </div>
        <div class="d-grid gap-2">
            <a href="{% url 'skins_leaderboard_view' %}?game_id={{ game_id }}" class="btn btn btn-secondary-custom" role="button">Leaderboard</a>
        </div>
    </div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        const toggleButton = document.getElementById('toggle-scores');
        const scoreCells = document.querySelectorAll('.score-cell');
        const heading = document.getElementById('scorecard-heading');
        let showingNet = false; // Default to raw scores

        heading.textContent = 'Gross';
        toggleButton.textContent = 'Net Scores';

        toggleButton.addEventListener('click', function () {
            showingNet = !showingNet;
            toggleButton.textContent = showingNet ? 'Gross Scores' : 'Net Scores';
            scoreCells.forEach(cell => {
                const scoreSpan = cell.querySelector('.score-value');
                if (scoreSpan) {
                    scoreSpan.textContent = showingNet ? cell.getAttribute('data-net') : cell.getAttribute('data-raw');
                }
            });
            heading.textContent = showingNet ? 'Net' : 'Gross';
        });
    });
</script>
{% endblock %}