{% extends 'base.html' %}

{% block title %}Statistics{% endblock %}

{% block content %}

<div class="container my-4">
    <h1 class="mb-4">Activity Feed</h1>

    <!-- Log Table Activity -->
    {% if actions %}
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Log Date</th>
                    <th>Type</th>
                    <th>Tee Time Date</th>
                    <th>Msg</th>
                </tr>
            </thead>
            <tbody>
                {% for entry in actions %}
                    <tr>
                        <td>{{ entry.lDate }}</td>
                        <td>{{ entry.type }}</td>
                        <td>{{ entry.rDate }}</td>
                        <td>{{ entry.msg }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endif %}
</div>

{% endblock %}
