{% extends 'base.html' %}

{% block title %}Statistics{% endblock %}

{% block content %}

<div class="container my-4">

        <!-- Navigation Links -->
        <div class="nav-links">
            <a href="#activity-feed">Activity Feed</a> |
            <a href="#course-heatmap">Course Heatmap</a> |
            <a href="#partner-heatmap">Partner Heatmap</a>
        </div>
    
    <br>
    <br>

    <h1 id="activity-feed" class="mb-4">Activity Feed</h1>
    <!-- Log Table Activity -->
    {% if actions %}
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Log Date</th>
                    <th>Type</th>
                    <th>Tee Time</th>
                    <th>Msg</th>
                </tr>
            </thead>
            <tbody>
                {% for entry in actions %}
                    <tr>
                        <td>{{ entry.lDate }}</td>
                        <td>{{ entry.type }}</td>
                        <td>{{ entry.rDate }}</td>
                        <td>{{ entry.msg }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endif %}
    <br>
    <br>


    <h1 id="course-heatmap" class="mb-4">Course Heatmap</h1>
    <!-- Course HeatMap Table -->
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Player</th>
                {% for course in course_names %}
                    <th>{{ course }}</th>
                {% endfor %}
                <th>Total</th>
            </tr>
        </thead>
        <tbody>
            {% for player_id, courses in korse_chart_data.items %}
                <tr>
                    <td>
                        {% for player in players %}
                            {% if player.id == player_id %}
                                {{ player.FirstName }} {{ player.LastName }}
                            {% endif %}
                        {% endfor %}
                    </td>
                    {% for course_id, count in courses.items %}
                        <td>{{ count }}</td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <br>
    <br>

    <h1 id="partner-heatmap">Partner Heatmap</h1>
    <table class="table">
        <thead>
            <tr>
                <th></th>
                {% for player in players %}
                    <th class="rotate"><div>{{ player.FirstName }} {{ player.LastName }}</div></th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for player_a, row in zipped_data %}
                <tr>
                    <th>{{ player_a.FirstName }} {{ player_a.LastName }}</th>
                    {% for player_b, cell, normalized_cell in row %}
                        {% if cell is not None %}
                            <td class="heatmap-cell" style="background-color: rgba(0, 142, 112, {{ normalized_cell }});">
                                {{ cell }}
                            </td>
                        {% else %}
                            <td class="heatmap-cell"></td>
                        {% endif %}
                    {% endfor %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}