{% extends 'base.html' %}

{% block title %}Sub Cancel Confirm{% endblock %}

{% block content %}

    <div class="container mt-4">
        <h1>Cancel Offered Sub</h1>
        <h4>Please confirm you would like to cancel the following Offered Sub and keep the Tee Time.</h4>
        <br>
        <h5><strong> Tee Time Details </strong>  {{ gDate }} {{ course_name }} {{ course_time_slot }}am</h5>
        <br>
        <h3 style="color: red;">Clicking the Cancel Offered Sub button cancels your Sub Request</h3>
        <div class="d-flex justify-content-start">
            <a href="{% url 'store_subcancel_data_view' %}?swap_id={{ swap_id }}" class="btn btn-danger btn-sm">Cancel Offered Sub</a>
            <a href="{% url 'subswap_view' %}" class="btn btn-secondary btn-sm ms-2">Go Back</a>
        </div>
    </div>
{% endblock %}