<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cancel Offered Sub</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
            <a class="navbar-brand">GAS Golf</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'home_page' %}">Home</a>
                    </li>
                    <li class="nav-item">
                        <a href="{% url 'logout' %}" class="nav-link" role="button">Logout</a>
                    </li>
                </ul>
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a href="{% url 'profile_view' %}" class="nav-link" role="button">{{ first_name }} {{ last_name }}</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container mt-4">
        <h1>Cancel Offered Sub</h1>
        <h4>Please confirm you would like to cancel the following Offered Sub and keep the Tee Time.</h4>
        <br>
        <h5><strong> Tee Time Details </strong>  {{ gDate }} {{ course_name }} {{ course_time_slot }}am</h5>
        <br>
        <h3 style="color: red;">Clicking the Cancel Offered Sub button cancels your Sub Request</h3>
        <div class="d-flex justify-content-start">
            <a href="{% url 'store_subcancel_data_view' %}?swap_id={{ swap_id }}" class="btn btn-danger btn-sm">Cancel Offered Swap</a>
            <a href="{% url 'subswap_view' %}" class="btn btn-secondary btn-sm ms-2">Go Back</a>
        </div>
    </div>
</body>
</html>