{% extends 'base.html' %}

{% block title %}Sub Request{% endblock %}

{% block content %}

    <!-- Sub Request Content -->
    <div class="container my-4">
        <h1>Sub Request</h1>
        <p>
            Please review and confirm the following Sub Request for <strong>{{ date }}</strong>. 
        </p>
        <blockquote class="blockquote">
            {{ first_name }} {{ last_name }} is offering his tee time on <strong>{{ gDate_display }}</strong> at <strong>{{ course_name }}</strong> 
            <strong>{{ course_time_slot }}</strong> to play with <strong>{{ other_players }}</strong> to the first person who wants it. 
            <br>
            
        </blockquote>
        <div class="mt-4">
            <a href="{% url 'store_sub_request_sent_data_view' %}?tt_id={{ tt_id }}" class="btn btn-primary btn-sm">Confirm</a>
            <a href="{% url 'subswap_view' %}" class="btn btn-secondary-custom">Cancel the Sub Request</a>
        </div>
    </div>

{% endblock %}
