{% extends 'base.html' %}

{% block title %}Sub Request Sent{% endblock %}

{% block content %}

<!-- Sub Request Sent Content -->
<div class="container my-4">
    <h1>Sub Request Sent to all Available Players</h1>
    <p>
        Your Sub Request has been sent to all available players.  You will be notified when a player accepts your offer.
    <p>
        Message:  {{ sub_offer }}
    </p>
    <h2>Available Players</h2>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Player</th>
                <th>Mobile</th>
            </tr>
        </thead>
        <tbody>
            {% for player in available_players %}
                <tr>
                    <td>{{ player.avail_name }}</td>
                    <td>{{ player.to_number|slice:"1:4" }}-{{ player.to_number|slice:"4:7" }}-{{ player.to_number|slice:"7:11" }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
