{% extends 'base.html' %}

{% block title %}SubSwap{% endblock %}

{% block content %}

<div class="container mt-4">
    <h4>Swaps Available: {{ available_swaps_data_count }} &nbsp;&nbsp; Subs Available:  {{ available_subs_data_count }} &nbsp;&nbsp; Counter Offers:  {{ counter_offers_data_count }}</h4>
    <br>
    <h4><strong>Swap</strong> - Request a future Tee Time for one of your current Tee Times</h4>
    <h4><strong>Sub</strong> - Offer one of your current Tee Times for anyone to take</h4>
    <br>
    <h1>Current Schedule for {{ first_name }} {{ last_name }}</h1>
    
    <!-- Schedule Table -->
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Date</th>
                <th>Course</th>
                <th>Time Slot</th>
                <th>Other Players</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for entry in schedule_data %}
            <tr>
                <td>{{ entry.date }}</td>
                <td>{{ entry.course }}</td>
                <td>{{ entry.time_slot }}</td>
                <td>{{ entry.other_players }}</td>
                <td>
                    {% if entry.tt_id in offered_tee_time_ids %}
                        <button class="btn btn-primary btn-sm" disabled>Sub</button>
                        <button class="btn btn-secondary-custom btn-sm" disabled>Swap</button>
                    {% else %}
                        <a href="{% url 'store_sub_request_data_view' %}?tt_id={{ entry.tt_id }}" class="btn btn-primary btn-sm">Sub</a>
                        <a href="{% url 'store_swap_data_view' %}?tt_id={{ entry.tt_id }}" class="btn btn-sm btn-secondary-custom">Swap</a>
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    {% if available_subs_data %}
    <br>
    <h1>Available Subs</h1>

    <!-- Available Subs Table -->

    <table class="table table-striped">

        <thead>

            <tr>
                <th>Date</th>
                <th>Course</th>
                <th>Time Slot</th>
                <th>Current Foursome</th>
                <th>Actions</th>

            </tr>

        </thead>

        <tbody>
            {% for sub in available_subs_data %}
            <tr>
                <td>{{ sub.date }}</td>
                <td>{{ sub.course }}</td>
                <td>{{ sub.time_slot }}</td>
                <td>{{ sub.other_players }}</td>
                <td>

                    <a href="{% url 'store_subaccept_data_view' %}?swap_id={{ sub.swapID }}" class="btn btn-primary">Accept</a>
                    
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% endif %}
    
    
    {% if available_swaps_data %}
    <br>
    <h1>Available Swaps</h1>
    <h7> Tee Times available for trade with one of your Tee Times</h7>

    <!-- Available Swaps Table -->

    <table class="table table-striped">

        <thead>

            <tr>
                <th>Date</th>
                <th>Course</th>
                <th>Time Slot</th>
                <th>Current Foursome</th>
                <th>Actions</th>

            </tr>

        </thead>

        <tbody>
            {% for swap in available_swaps_data %}
            <tr>
                <td>{{ swap.date }}</td>
                <td>{{ swap.course }}</td>
                <td>{{ swap.time_slot }}</td>
                <td>{{ swap.other_players }}</td>
                <td>

                    <a href="{% url 'store_swapoffer_data_view' %}?userid={{ user_id }}&swapID={{ swap.swapID }}&Msg={{ swap.Msg }}&RequestDate={{ swap.ymdDate }}&OfferID={{ swap.OfferID }}" class="btn btn-primary">Review Offer</a>
                    
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% endif %}

{% if counter_offers_data %}
<br>
<h1>Counter Offers</h1>
    <h7>Tee Times being offered by other players for your swap request/s</h7>
    
    <!-- Counter Offers Table -->
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Your Offered Date</th>
                <th>Proposed Swap</th>
                <th>Proposed by</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for offer in counter_offers_data %}
            <tr>
                <td>{{ offer.original_offer_date }}</td>
                <td>{{ offer.proposed_swap_date }}</td>
                <td>{{ offer.proposed_by }}</td>
                <td>
                    <a href="{% url 'store_swapcounteraccept_data_view' %}?userID={{ user_id }}&original_offer_date={{ offer.original_offer_date }}&offer_other_players={{ offer.offer_other_players }}&proposed_swap_date={{ offer.proposed_swap_date }}&swap_other_players={{ offer.swap_other_players }}&swapid={{ offer.swapID }}&swap_ttid={{ offer.swap_ttid }}" class="btn btn-primary btn-sm">Accept</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% endif %}

<!-- Subs Proposed Table -->
{% if subs_proposed_data %}
<br>
<h1>Subs Offered</h1>
<h7>Tee Times you have requested a Sub for</h7>

<table class="table table-striped mt-4">
    <thead>
        <tr>
            <th>Date Sub Requested</th>
            <th>Playing Date</th>
            <th>Course</th>
            <th>Tee Time</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        {% for sub in subs_proposed_data %}
        <tr>
            <td>{{ sub.request_date }}</td>
            <td>{{ sub.playing_date }}</td>
            <td>{{ sub.course }}</td>
            <td>{{ sub.tee_time }}</td>
            <td>
                <a href="{% url 'store_subcancelconfirm_data_view' %}?swap_id={{ sub.swap_id }}" class="btn btn-danger btn-sm">Cancel Sub</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endif %}

<!-- Swaps Proposed Table -->
{% if swaps_proposed_data %}
<br>
<h1>Swaps Offered</h1>
<h7>Tee Times you have requested a Swap for</h7>

<table class="table table-striped mt-4">
    <thead>
        <tr>
            <th>Date Swap Requested</th>
            <th>Playing Date</th>
            <th>Course</th>
            <th>Tee Time</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        {% for swap in swaps_proposed_data %}
        <tr>
            <td>{{ swap.request_date }}</td>
            <td>{{ swap.playing_date }}</td>
            <td>{{ swap.course }}</td>
            <td>{{ swap.tee_time }}</td>
            <td>
                <a href="{% url 'store_swapcancelconfirm_data_view' %}?gDate={{ swap.playing_date }}&courseName={{ swap.course }}&courseTimeSlot={{ swap.tee_time }}&swap_id={{ swap.swap_id }}" class="btn btn-danger btn-sm">Cancel Swap</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endif %}

<script>
    document.addEventListener("DOMContentLoaded", () => {
        document.querySelectorAll("button").forEach(button => {
            button.addEventListener("click", (event) => {
                const userId = event.target.getAttribute("data-user-id");
                console.log(`Button clicked for User ID: ${userId}`);
                // Add logic to handle Sub/Swap actions
            });
        });
    });
</script>
</div>
{% endblock %}
