{% extends 'base.html' %}

{% block title %}Swap Counter Accept{% endblock %}

{% block content %}

<div class="container mt-4">
    <h1>Proposed Swap</h1>
    <h4>Please review & <strong>Confirm</strong> the proposed swap details below</h4>
    <br>
    <h4>Your Offer Details</h4>
    <h5><strong>{{ offer_date }} at {{ offer_course_name }} at {{ offer_time_slot }}am</strong> playing with <strong>{{ offer_other_players }}</strong> </h5>
    <br>
    <h4>Counter Offer Details</h4>
    <h5><strong>{{ counter_first_name }} {{ counter_last_name }}</strong> is offering <strong>{{ counter_date }} at {{ counter_course_name }} at {{ counter_time_slot }}am</strong> playing with <strong>{{ counter_other_players }}</strong></h5>
    <br>
    <h3 style="color: red; font-weight: bold;">Clicking the Confirm button switches the tee times</h3>
    <br>

    <a href="{% url 'store_swapfinal_data_view' %}?player_id={{ player_id }}&counter_ttid={{ counter_ttid }}&swap_id={{ swap_id }}" class="btn btn-primary btn-sm">Confirm Tee Time Swap</a>
    <a href="{% url 'subswap_view' %}" class="btn btn-secondary">Cancel</a>
</div>
{% endblock %}