{% extends 'base.html' %}

{% block title %}Swap Cancel Confirm{% endblock %}

{% block content %}

<div class="container mt-4">
    <h1>Cancel Offered Swap</h1>
    <h4>Please confirm you would like to cancel the following Offered Swap and keep the Tee Time.</h4>
    <br>
    <h5><strong> Tee Time Details </strong>  {{ gDate }} {{ courseName }} {{ courseTimeSlot }}am</h5>
    <br>
    <h3 style="color: red;">Clicking the Cancel Offered Swap button cancels your Offered Swap</h3>
    <div class="d-flex justify-content-start">
        <a href="{% url 'store_swapcancel_data_view' %}?swap_id={{ swap_id }}&first_name={{ first_name }}&last_name={{ last_name }}&gDate={{ gDate }}" class="btn btn-danger btn-sm">Cancel Offered Swap</a>
        <a href="{% url 'subswap_view' %}" class="btn btn-secondary btn-sm ms-2">Go Back</a>
    </div>
</div>
{% endblock %}