{% extends 'base.html' %}

{% block title %}Player Profile{% endblock %}

{% block content %}

    <div class="container mt-4">
        <h1>No one has future dates available to Swap</h1>
        <h4>It is probably late in the season and there are very few dates left</h4>
        <br>
        <h4>Would you prefer to make a Sub request instead?</h4>
        <div class="d-flex justify-content-start">
            <a href="{% url 'store_sub_request_data_view' %}?tt_id={{ tt_id }}" class="btn btn-primary btn-sm">Sub Request</a>
            <a href="{% url 'subswap_view' %}" class="btn btn-secondary btn-sm ms-2">Cancel</a>
        </div>
    </div>
{% endblock %}