{% extends 'base.html' %}

{% block title %}Swap Counter{% endblock %}

{% block content %}

<div class="container mt-4">
    <h1>Swap Counter Offer</h1>
    <p>{{ offer_player_first_name }} {{ offer_player_last_name }} has been informed of your proposed date/s via text</p>
    <p>Original Offer: {{ offer_msg }}</p>
    
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Date</th>
                <th>Player</th>
                <th>Course</th>
                <th>Time Slot</th>
                <th>Other Players</th>
            </tr>
        </thead>
        <tbody>
            {% for entry in available_dates %}
            <tr>
                <td>{{ entry.date }}</td>
                <td>{{ entry.player }}</td>
                <td>{{ entry.course }}</td>
                <td>{{ entry.time_slot }}</td>
                <td>{{ entry.other_players }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}