{% extends 'base.html' %}

{% block title %}Swap Request{% endblock %}

{% block content %}

    <!-- Swap Request Content -->
    <div class="container my-4">
        <h1>Swap Request</h1>
        <blockquote class="blockquote">Please review your Swap Request and choose which Available Players you want to offer it to. 
          It is <strong>HIGHLY</strong> recommended to choose <strong>'select all'</strong> to make sure the Tee Time is filled
        </blockquote>
        <br>

        <h4>Message to be sent to all selected players:</h4>
        <blockquote class="blockquote">
            '{{ first_name }} {{ last_name }} is offering his tee time on <strong>{{ gDate_display }}</strong> at <strong>{{ course_name }}</strong> 
            <strong>{{ course_time_slot }}</strong> to play with <strong>{{ other_players }}</strong> to the first person who wants it.'' 
            <br>
            
        </blockquote>
        <br>

        <!-- Available Players Table -->
        <h3>Players Available to Swap on {{ gDate_display }}</h3>

        <form method="post" action="{% url 'store_swap_request_sent_data_view' %}">
            {% csrf_token %}
            <input type="hidden" name="tt_id" value="{{ tt_id }}">
            <table class="table table-striped mt-4">
                <thead>
                    <tr>
                        <th>Available Player</th>
                        <th>Future Dates Available for Trade</th>
                        <th>
                            <input type="checkbox" id="select-all" checked> Select All
                        </th>
                    </tr>
                </thead>
                <tbody>
                    {% for plyr in available_players %}
                    <tr>
                        <td>{{ plyr.FirstName }} {{ plyr.LastName }}</td>
                        <td>
                            {% for date, id in plyr.swap_dates %}
                                {{ date }} 
                            {% endfor %}
                        </td>
                        <td>
                            <input type="checkbox" name="player_ids" value="{{ plyr.id }}" class="player-checkbox" checked>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>

            <div class="mt-4">
                <button type="submit" class="btn btn-primary btn">Confirm</button>
                <a href="{% url 'subswap_view' %}" class="btn btn-secondary-custom">Cancel the Swap Request</a>
            </div>
        </form>
    </div>

    <script>
        document.getElementById('select-all').onclick = function() {
            var checkboxes = document.querySelectorAll('.player-checkbox');
            for (var checkbox of checkboxes) {
                checkbox.checked = this.checked;
            }
        };

        document.querySelector('form').onsubmit = function() {
            var checkboxes = document.querySelectorAll('.player-checkbox:checked');
            if (checkboxes.length === 0) {
                alert('Please select at least one player.');
                return false;
            }
        };
    </script>

{% endblock %}