{% extends 'base.html' %}

{% block title %}Swap Request{% endblock %}

{% block content %}

    <!-- Main Content -->
    <div class="container my-4">
        <h1>Swap Request</h1>
        <p>
            Please review and confirm the following Swap Request.  <strong>IF </strong>you click 'Confirm', the following message will be sent to all available members in the group.
        </p>
        <blockquote class="blockquote">
            <strong>{{ first_name }} {{ last_name }}</strong> would like to swap his tee time on <strong>{{ date }}</strong> at 
            <strong>{{ course }}</strong> <strong>{{ time_slot }}</strong> (playing with <strong>{{ other_players }}</strong>) 
            with one of your tee times.
        </blockquote>

        <!-- Action Buttons -->
        <div class="d-flex">
            <a href="{% url 'store_swaprequestsent_data_view' %}?swap_tt_id={{ swap_tt_id }}" class="btn btn-primary">Confirm</a>
            <!-- <a href="{% url 'store_swaprequestsent_data_view' %}?date={{ date }}&course={{ course }}&time_slot={{ time_slot }}&user_name={{ user_name }}&other_players={{ other_players|urlencode }}&swap_tt_id={{ swap_tt_id }}&user_id={{ user_id }}&first_name={{ first_name }}&last_name={{ last_name }}" class="btn btn-primary">Confirm</a> -->
            <a href="{% url 'subswap_view' %}" class="btn btn-secondary-custom">Cancel the Swap Request</a>
        </div>
    </div>
{% endblock %}
