{% extends 'base.html' %}

{% block title %}Tee Sheet{% endblock %}

{% block content %}
<h1 class="mb-4">Tee Sheet</h1>

<!-- Narrow Date Picker Form -->
<form method="get" action="{% url 'teesheet_view' %}" class="mb-4">
    <div class="d-flex" style="max-width: 300px;">
        <input type="date" name="gDate" class="form-control" required>
        <button type="submit" class="btn btn-primary ms-2">View</button>
    </div>
</form>

<!-- Display the chosen date -->
{% if gDate %}
    <!-- <h2>{{ gDate }}</h2> -->
{% else %}
    <h2 class="text-center">Please select a date.</h2>
{% endif %}

<!-- Display the cards -->
<div class="row justify-content-center">
    {% for card in cards.values %}
        <div class="col-md-4 col-sm-6 mb-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">{{ card.courseName }} {{ card.courseTimeSlot }}am</h5>
                    <h6 class="card-subtitle mb-2 text-muted">{{ card.gDate }}</h6>
                    <ul class="list-unstyled">
                        {% for player in card.players %}
                            <li>{{ player.firstName }} {{ player.lastName }}</li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    {% endfor %}
</div>
<br>
<!-- Schedule Table -->
<h2 class="mt-5">Full Schedule</h2>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Date</th>
            <th>Course</th>
            <th>Tee Time</th>
            <th>Players</th>
        </tr>
    </thead>
    <tbody>
        {% for item in schedule %}
            <tr>
                <td>{{ item.date }}</td>
                <td>{{ item.course }}</td>
                <td>{{ item.time_slot }}</td>
                <td>{{ item.players }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}